<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sheng.mapper.DeptMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.sheng.entity.Dept">
		<id column="did" property="did" />
		<result column="dname" property="dname" />
		<collection property="personList" ofType="com.sheng.entity.Person">
			<id column="id" property="id" />
			<result column="name" property="name" />
			<result column="age" property="age" />
			<result column="did" property="did" />
		</collection>
	</resultMap>
	
	<select id="getAllDeptInfoByID" resultMap="BaseResultMap">
		select t1.did,t1.dname,t2.id,t2.name,t2.age,t2.did from dept t1,person t2 where t1.did=t2.did and t1.did=#{did};
	</select>
	
</mapper>
